
{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        ## If object "id" should come from GraphQL arguments, change to $util.dynamodb.toDynamoDBJson($ctx.args.id)
        "name": $util.dynamodb.toDynamoDBJson($context.arguments.name),
        "handle": $util.dynamodb.toDynamoDBJson($context.arguments.handle),
        "location": $util.dynamodb.toDynamoDBJson($context.arguments.location)
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args)
}